.form_field {
  label {
    display: block;
  }

  input,
  textarea,
  select {
    margin: 5px 0 15px;
    border-radius: 2px;
    color: #000000d9;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
  }
}

.error_message {
  color: red;
  margin: -10px 0 10px;
}
